.env
.vscode
2025/03
util/__pycache__
build
dist
models
modles/
modles-probe/
.venv/
runtime
python3.11
**/*.swp
*.swp
util/__pycache__
util/__pycache__/**/*
**/*.log
polished
ustom_output
config.toml
.DS_Store
__pycache__
**/*.log
**/ __pycache__
custom_output
data/chat_history.json
util/__pycache__/**/*
python3
2025
2026
1970
*.exe
assets
dist
uv.lock
.trae
**/*.wav
.DS_Store
