# 基础依赖
typer
colorama
rich
websockets
opencc-python-reimplemented
# macOS用户需要先安装PortAudio: brew install portaudio
pyaudio
keyboard
pynput
pathlib

# 内存管理
psutil

# 音频处理
numpy
soundfile
librosa

# 网络请求
httpx
requests

# 其他工具
pyperclip
pywin32; platform_system == "Windows"
pyobjc; platform_system == "Darwin"
clipman
