QPushButton {{
    font-family: "Segoe MDL2 Assets";
    color: {QTMATERIAL_PRIMARYCOLOR};
    text-transform: none;
    height: 25px;
    border: none;
    background-color: transparent;
  }}

QCheckBox {{
    color: {QTMATERIAL_PRIMARYCOLOR};
    height: 25px;
}}

QTextEdit {{
    border: none;
    padding: 0px;
}}

QLabel {{
    font-family: "Segoe MDL2 Assets";
    color: {QTMATERIAL_PRIMARYCOLOR};
    font-size: 14px;
}}